html
  head
    title= title
  body
    h1= message
    h1= 'Бесмертный С.И. 1295з'
    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSuD0Edjfl3t495rKVgw88kgAk23ADGZJVkrw&usqp=CAU", alt=" Здесь будут буквы вместо картинки")
    h2= 'И тут буквы'
    a(href="./page2") Ссылка на 2 страницу
