html
  head
    title= title
  body
    h1= message
    h1= 'Бесмертный С.И. 1295з'
    img(src="https://sun1-17.userapi.com/impf/c622517/v622517602/32148/h68kXVXlrHc.jpg?size=200x0&quality=90&crop=104,0,788,850&sign=4b9d3b65b34df42762d070d12aa2da65&ava=1", alt=" Здесь будут буквы вместо картинки")
    h2= 'И тут буквы'
    a(href="./page2") Ссылка на 2 страницу
